{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card card-shadow p-4">
      <h2 class="h3 text-center mb-4">{{ t('register_title') }}</h2>
      <form method="post">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label" for="name">{{ t('name') }}</label>
            <input class="form-control" type="text" id="name" name="name" required>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="language">{{ t('settings_language') }}</label>
            <select class="form-select" id="language" name="language">
              <option value="ru">{{ t('language_option_ru') }}</option>
              <option value="en">{{ t('language_option_en') }}</option>
            </select>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-label" for="email">{{ t('email') }}</label>
          <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <div class="row g-3 mt-1">
          <div class="col-md-6">
            <label class="form-label" for="password">{{ t('password') }}</label>
            <input class="form-control" type="password" id="password" name="password" required>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="confirm_password">{{ t('confirm_password') }}</label>
            <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
          </div>
        </div>
        <button class="btn btn-primary w-100 mt-4" type="submit">{{ t('register_button') }}</button>
      </form>
      <p class="text-center mt-3">
        {{ t('have_account') }} <a href="{{ url_for('login') }}">{{ t('nav_login') }}</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
